<div class="jumbotron mt-4 bg-white">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus soluta ab obcaecati in inventore placeat! Dolorem, accusantium soluta voluptatibus nemo vel molestiae placeat ab ad velit, pariatur in. Eum, dicta!</p>
    <a href="" class="btn btn-primary btn-lg">See More</a>
</div>