<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">

            <div class="card-header">
                <h2>Account Login</h2>
                <img src="/img/myip.png" class="logo" alt="...">
            </div>

            <div class="card-body">
                <form action="/users/sign-in" method="POST">
                    <div class="form-group mt-1">
                        <input type="email" name="email" 
                        class="form-control"
                        placeholder="Email" autofocus>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" name="password"
                        class="form-control"
                        placeholder="Password" autofocus>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary">
                            SigIn
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>